{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties",
      {
        "targets": {
          "browsers": ["last 2 versions", "IE >= 9"]
        }
      }
    ],
    ["@babel/transform-runtime"]
  ]
}
