
@import './mixins';

$BLACK: #1B1B1B;
$GREY: #656565;
$GREY_2: #767676;
$LIGHT_GREY: #B7B7B7;
$LIGHT_GREY_2: #F1F1F1;
$WHITE: #FFFFFF;
$BLUE: #0052A5;
$BLUE_2: #0075E2;
$RED: #D5233F;
$RED_2: #A7162D;
